body {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-rich-black: #010719;
    --color-cosmic-latte: #fff7e9;
    --color-bittersweet: #FE635E;
    --color-dark-turquoise: #40C5D5;
    --color-naples-yellow: #FEDE6D;
    --color-granny-smith: #A2E899;
    --color-gunmetal: #323947;
}
